#btn-banner {
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 235, 255, 1);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 12px 24px;
  margin: 0px;
  opacity: 0.8;
}
#btn-banner:hover {
  text-decoration: none;
  opacity: 1;
}
